<ul>
    <li><a href="/destacados">Link aqui para ir a la pagina destacados</a></li>
    <li><a href="/loultimo">aqui hay un manejador de rutas</a></li>
    <li><a href="/users">aqui hay otro manejador.</a></li>
</ul>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
